body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#chat-messages {
    min-height: 10vh;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
    padding: 0 !important;
}

.to-right {
    text-align: right;
}

.to-left {
    text-align: left;
}

.text-message {
    width: auto !important;
    height: auto !important;
    max-width: 80%;
    text-align: left;
    word-break: break-all;
}

.my-message {
    float: right !important;
    background-color: #ee6e73 !important;
}

.margin-bottom-zero {
    margin-bottom: 0 !important;
}

.time-message {
    font-size: 0.5em;
}

.my-time-message {
    float: right !important;
    font-size: 0.5em;
}